amqp==5.3.1
annotated-types==0.7.0
anyio==4.14.0
asgiref==3.11.1
async-timeout==5.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
billiard==4.2.4
black==26.1.0
CacheControl==0.14.4
cachetools==5.5.2
celery==5.6.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.1
colorama==0.4.6
cryptography==42.0.8
deep-translator==1.11.4
defusedxml==0.7.1
dj-database-url==2.1.0
dj-rest-auth==5.0.2
Django==5.2.11
django-allauth==0.57.0
django-cors-headers==4.3.1
django-extensions==3.2.3
django-filter==25.2
django-ratelimit==4.1.0
django-redis==6.0.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.0
drf-nested-routers==0.95.0
drf-spectacular==0.26.5
drf-spectacular-sidecar==2023.10.1
exponent_server_sdk==2.2.0
firebase-admin==6.4.0
geographiclib==2.1
geopy==2.4.1
google-api-core==2.29.0
google-api-python-client==2.123.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-cloud-core==2.5.0
google-cloud-firestore==2.23.0
google-cloud-storage==2.14.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.76.0
gunicorn==21.2.0
h11==0.16.0
haversine==2.8.0
httpcore==1.0.9
httplib2==0.31.1
httpx==0.28.1
idna==3.11
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
msgpack==1.1.2
mypy_extensions==1.1.0
oauthlib==3.3.1
packaging==25.0
pathspec==1.0.3
pillow==12.1.0
platformdirs==4.5.1
prompt_toolkit==3.0.52
proto-plus==1.27.0
protobuf==6.33.4
psycopg2-binary==2.9.11
pyasn1==0.6.2
pyasn1_modules==0.4.2
pybreaker==1.4.1
pycparser==2.23
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.8.0
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.0
python3-openid==3.2.0
pytokens==0.4.0
pytz==2025.2
PyYAML==6.0.3
redis==7.2.1
referencing==0.37.0
requests==2.31.0
requests-oauthlib==2.0.0
rpds-py==0.30.0
rsa==4.9.1
setuptools==69.5.1
sib-api-v3-sdk==7.6.0
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
whitenoise==6.6.0
